/**
 * Your theme's name
 * If this is an adaptation of an existing theme, credit the creator and/or leave a link to it!
 * Optional: Your name and/or username
 */

/**
 * Prism supports IE11, which does not support CSS variables
 * However, you are encouraged to leave a list of colours you use here
 * so that when we transition to Prism V2 (and drop support for IE11),
 * the transition will be a little easier!
 */

/* The styles used in this template are mostly taken from the One Dark theme */

/* Set the main properties of the code, code blocks, and inline code */
code[class*="language-"],
pre[class*="language-"] {
	background: hsl(220, 13%, 18%);
	color: hsl(220, 14%, 71%);
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	/* The following properties are standard, please leave them as they are */
	font-size: 1em;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	/* You may change the following properties */
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Optional: What the code looks like when highlighted */
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
	background: hsl(220, 13%, 28%);
	color: inherit;
	text-shadow: none;
}

code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
	background: hsl(220, 13%, 28%);
	color: inherit;
	text-shadow: none;
}

/* Properties specific to code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto; /* do not change this */
	border-radius: 0.3em;
}

/* Properties specific to inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.2em 0.3em;
	border-radius: 0.3em;
	white-space: normal;
}

/* Print */
@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* These are the minimum tokens you must style, though do feel free to rearrange them as you need */
.token.comment,
.token.prolog,
.token.cdata {
	color: hsl(220, 10%, 40%);
}

.token.doctype,
.token.punctuation,
.token.entity {
	color: hsl(220, 14%, 71%);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
	color: hsl(29, 54%, 61%);
}

.token.keyword {
	color: hsl(286, 60%, 67%);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
	color: hsl(355, 65%, 65%);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value {
	color: hsl(95, 38%, 62%);
}

.token.variable,
.token.operator,
.token.function {
	color: hsl(207, 82%, 66%);
}

.token.url {
	color: hsl(187, 47%, 55%);
}

/* The following rules are pretty standard across themes, but feel free to adjust them */
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.namespace {
	opacity: 0.7;
}

/* LANGUAGE-SPECIFIC OVERRIDES */
/* If you'd like your theme to have overrides for specific languages, here's an example */
.language-css .token.important {
	color: hsl(286, 60%, 67%);
}
