/*
	Name:       Panda Syntax
	Author:     Siamak Mokhtari (http://github.com/siamak/)
	Panda syntax for Prism theme by Siamak Mokhtari (https://github.com/siamak/atom-panda-syntax)
*/

code[class*=language-],
pre[class*=language-] {
	background: #292a2b;
	color: #e6e6e6;
	font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;
	direction: ltr;
	text-align: left;
	word-spacing: normal;
	padding-top: 1em;
	padding-bottom: 1em;
	white-space: pre;
	word-wrap: normal;
	line-height: 1.5;
	background: 0 0;
	border: 0;
	tab-size: 4;
	hyphens: none
}

pre[class*=language-] code {
	float: left;
	padding: 0 15px 0 0
}

pre[class*=language-],
:not(pre)>code[class*=language-] {
	background: #292a2b
}

pre[class*=language-] {
	padding: 15px;
	overflow: auto;
	border-radius: 3px
}

:not(pre)>code[class*=language-] {
	padding: 5px 10px;
	line-height: 1;
	border-radius: 3px
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	font-style: italic;
	color: #676b79
}

.token.selector,
.token.operator,
.token.punctuation {
	color: #e6e6e6
}

.token.namespace {
	opacity: .7
}

.token.tag,
.token.boolean {
	color: #ffb86c
}

.token.atrule,
.token.attr-value,
.token.hex,
.token.string {
	color: #19f9d8
}

.token.property,
.token.entity,
.token.url,
.token.attr-name,
.token.keyword {
	color: #ff75b5
}

.token.regex {
	color: #19f9d8
}

.token.function,
.token.constant {
	color: #ff75b5
}

.token.variable {
	color: #ff75b5
}

.token.number {
	color: #19f9d8
}

.token.important,
.token.deliminator {
	color: #ff4b82
}

pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 1em;
	background: rgba(255, 255, 255, .2);
	pointer-events: none;
	line-height: inherit;
	white-space: pre
}

.line-highlight:before,
.line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	top: .3em;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
	font: 700 65%/1.5 sans-serif;
	text-align: center;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	text-shadow: none
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: .4em
}

.line-numbers-rows {
	margin: 0
}

.line-numbers-rows span {
	padding-right: 10px;
	border-right: 3px #d9d336 solid
}
