/**
 * One Dark theme for prism.js
 * Based on Atom's One Dark theme: https://github.com/atom/atom/tree/master/packages/one-dark-syntax
 */

/**
 * One Dark colours in terms of RGB (accurate as of commit 8ae45ca on 6 Sep 2018)
 * -- From colors.less
 * @mono-1: #abb2bf
 * @mono-2: #828997
 * @mono-3: #5c6370
 * @hue-1: #56b6c2 <- cyan
 * @hue-2: #61afef <- blue
 * @hue-3: #c678dd <- purple
 * @hue-4: #98c379 <- green
 * @hue-5: #e06c75 <- red 1
 * @hue-5-2: #be5046 <- red 2
 * @hue-6: #d19a66 <- yellow 1
 * @hue-6-2: #e5c07b <- yellow 2
 * @syntax-fg: #abb2bf
 * @syntax-bg: #282c34
 * @syntax-gutter: #636d83
 * @syntax-guide: #abb2bf26
 * @syntax-accent: #528bff
 * -- From syntax-variables.less
 * @syntax-selection-color: #3e4451
 * @syntax-gutter-background-color-selected: #3a3f4b
 * @syntax-cursor-line: #99bbff0c
 */

code[class*="language-"],
pre[class*="language-"] {
	background: #282c34;
	color: #abb2bf;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Selection */
code[class*="language-"]::-moz-selection,
pre[class*="language-"] *::-moz-selection {
	background: #3e4451;
	color: inherit;
	text-shadow: none;
}

code[class*="language-"]::selection,
pre[class*="language-"] *::selection {
	background: #3e4451;
	color: inherit;
	text-shadow: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.2em 0.3em;
	border-radius: 0.3em;
	white-space: normal;
}

/* Print */
@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #5c6370;
}

.token.doctype,
.token.punctuation,
.token.entity {
	color: #abb2bf;
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
	color: #d19a66;
}

.token.keyword {
	color: #c678dd;
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
	color: #e06c75;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
	color: #98c379;
}

.token.variable,
.token.operator,
.token.function {
	color: #61afef;
}

.token.url {
	color: #56b6c2;
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
	color: #abb2bf;
}

/* CSS overrides */
.language-css .token.selector {
	color: #e06c75;
}

.language-css .token.property {
	color: #abb2bf;
}

.language-css .token.function,
.language-css .token.url > .token.function {
	color: #56b6c2;
}

.language-css .token.url > .token.string.url {
	color: #98c379;
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
	color: #c678dd;
}

/* JS overrides */
.language-javascript .token.operator {
	color: #c678dd;
}

.language-javascript .token.template-string > .token.interpolation > .token.interpolation-punctuation.punctuation {
	color: #be5046;
}

/* JSON overrides */
.language-json .token.operator {
	color: #abb2bf;
}

.language-json .token.null.keyword {
	color: #d19a66;
}

/* MD overrides */
.language-markdown .token.url,
.language-markdown .token.url > .token.operator,
.language-markdown .token.url-reference.url > .token.string {
	color: #abb2bf;
}

.language-markdown .token.url > .token.content {
	color: #61afef;
}

.language-markdown .token.url > .token.url,
.language-markdown .token.url-reference.url {
	color: #56b6c2;
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
	color: #5c6370;
	font-style: italic;
}

.language-markdown .token.code-snippet {
	color: #98c379;
}

.language-markdown .token.bold .token.content {
	color: #d19a66;
}

.language-markdown .token.italic .token.content {
	color: #c678dd;
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important > .token.punctuation {
	color: #e06c75;
}

/* General */
.token.bold {
	font-weight: bold;
}

.token.comment,
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.namespace {
	opacity: 0.8;
}

/* Show Invisibles plugin overrides */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before,
.token.space:before {
	color: #abb2bf26;
	text-shadow: none;
}

/* Toolbar plugin overrides */
div.code-toolbar > .toolbar {
	right: 0.5em; /* move the toolbar more to the left than the default */
}

/* Styling the buttons */
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > span {
	background: #3a3f4b;
	color: #828997;
	padding: 0.1em 0.4em;
	border-radius: 0.3em;
}

div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus {
	background: #3e4451;
	color: #abb2bf;
}

/* Line Highlight plugin overrides */
.line-highlight {
	background: #99bbff0c;
}

/* Default line numbers in Line Highlight plugin */
.line-highlight:before,
.line-highlight[data-end]:after {
	background: #3a3f4b;
	color: #abb2bf;
	padding: 0.1em 0.6em;
	border-radius: 0.3em;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2); /* same as Toolbar plugin default */
}

/* Hovering over a linkable line number (in the gutter area) */
pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
	background-color: #99bbff0c;
}

/* Line Numbers and Command Line plugins overrides */
/* Line separating gutter from coding area */
.line-numbers .line-numbers-rows,
.command-line-prompt {
	border-right: 1px solid #abb2bf26;
}

/* Stuff in the gutter */
.line-numbers-rows > span:before,
.command-line-prompt > span:before {
	color: #abb2bf; /* would prefer @syntax-gutter but it fails WCAG AA */
}

/* Match Braces plugin overrides */
/* Note: Outline colour is inherited from the braces */
.rainbow-braces .token.punctuation.brace-level-1,
.rainbow-braces .token.punctuation.brace-level-5,
.rainbow-braces .token.punctuation.brace-level-9 {
	color: #e06c75;
}

.rainbow-braces .token.punctuation.brace-level-2,
.rainbow-braces .token.punctuation.brace-level-6,
.rainbow-braces .token.punctuation.brace-level-10 {
	color: #98c379;
}

.rainbow-braces .token.punctuation.brace-level-3,
.rainbow-braces .token.punctuation.brace-level-7,
.rainbow-braces .token.punctuation.brace-level-11 {
	color: #61afef;
}

.rainbow-braces .token.punctuation.brace-level-4,
.rainbow-braces .token.punctuation.brace-level-8,
.rainbow-braces .token.punctuation.brace-level-12 {
	color: #c678dd;
}

/* Diff Highlight plugin overrides */
/* Taken from https://github.com/atom/github/blob/master/styles/variables.less */
pre.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight .token.deleted:not(.prefix) {
	background-color: #ff526626;
}

pre.diff-highlight > code .token.deleted:not(.prefix)::-moz-selection,
pre.diff-highlight > code .token.deleted:not(.prefix) *::-moz-selection,
pre > code.diff-highlight .token.deleted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.deleted:not(.prefix) *::-moz-selection {
	background-color: #fb566940;
}

pre.diff-highlight > code .token.deleted:not(.prefix)::selection,
pre.diff-highlight > code .token.deleted:not(.prefix) *::selection,
pre > code.diff-highlight .token.deleted:not(.prefix)::selection,
pre > code.diff-highlight .token.deleted:not(.prefix) *::selection {
	background-color: #fb566940;
}

pre.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight .token.inserted:not(.prefix) {
	background-color: #1aff5b26;
}

pre.diff-highlight > code .token.inserted:not(.prefix)::-moz-selection,
pre.diff-highlight > code .token.inserted:not(.prefix) *::-moz-selection,
pre > code.diff-highlight .token.inserted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.inserted:not(.prefix) *::-moz-selection {
	background-color: #38e06240;
}

pre.diff-highlight > code .token.inserted:not(.prefix)::selection,
pre.diff-highlight > code .token.inserted:not(.prefix) *::selection,
pre > code.diff-highlight .token.inserted:not(.prefix)::selection,
pre > code.diff-highlight .token.inserted:not(.prefix) *::selection {
	background-color: #38e06240;
}

/* Previewers plugin overrides */
/* Based on https://github.com/atom-community/atom-ide-datatip/blob/master/styles/atom-ide-datatips.less and https://github.com/atom/atom/blob/master/packages/one-dark-ui */
/* Border around popup */
.prism-previewer:before,
.prism-previewer-gradient div {
	border-radius: 0.3em;
	border-color: #252830;
}

/* Triangles pointing to the code */
.prism-previewer:after {
	border-top-color: #252830;
}

.prism-previewer-flipped.after {
	border-bottom-color: #252830;
}

/* Background colour within the popup */
.prism-previewer-angle:before,
.prism-previewer-time:before,
.prism-previewer-easing {
	background: #31363f;
}

.prism-previewer-angle circle,
.prism-previewer-time circle {
	stroke: #abb2bf;
	stroke-opacity: 1;
}

.prism-previewer-easing circle,
.prism-previewer-easing path,
.prism-previewer-easing line {
	stroke: #abb2bf;
}

.prism-previewer-easing circle {
	fill: transparent;
}
